
<binv-app-nav></binv-app-nav>
<!-- <binv-invoices></binv-invoices>
<binv-paymentmethods></binv-paymentmethods>
<binv-payments></binv-payments> -->
<!-- <a [routerLink]= "'invoices'">Invoices</a>
<a [routerLink]= "'payments'">Payments</a> -->
<!-- <router-outlet></router-outlet> -->


<binv-balance></binv-balance>
<!-- <div class="balance-container" *ngIf="clientList">
    <p>Balance: {{ clientList.balance }}</p>
  </div>

<div class="top-right-container"> 
    <button mat-raised-button color="primary" (click)="openDialog()">Add Balance</button>
</div> -->

